{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: 'list' }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork"{% if post.locale %} lang="{{ post.locale }}"{% endif %}>
    {% if include.type == "list" and post.cover %}
      <div class="archive__item-thumbnail">
        <img src="/assets/{{ post.cover }}" alt="">
      </div>
    {% endif %}
    {% if include.type == "grid" and post.cover %}
      <div class="archive__item-teaser">
        <img src="/assets/{{ post.cover }}" alt="">
      </div>
    {% endif %}
    <div class"archive__item-content">
    <h2 class="archive__item-title no_toc" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ post.url | relative_url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    {% include page__meta.html type=include.type %}
		  <div class="archive__item-excerpt">
<p>
			  ✒️  {{ post.writer }}</br>
			  🛸 {{ post.theme }}</br>
			  🖌️ {{ post.artist }}</br>
			  ✨ <span class="stars-container stars-{{ post.stars | times:20 | round: 0 }}" title="{{ post.stars }}/5">★★★★★</span></br>
</p>
		  </div>
    </div>
  </article>
</div>
