{% assign current_wikidata_key = page.wikidata | remove: "[[" | remove: "]]" | remove: ".yml" %}
{% assign current_wd = site.data.wikidata[current_wikidata_key] %}
{% assign current_series = current_wd.series %}

{% comment %}Collect all posts in the same series{% endcomment %}
{% assign series_posts = "" | split: "" %}
{% if current_series and current_series != "" %}
  {% for post in site.posts %}
    {% assign post_wk = post.wikidata | remove: "[[" | remove: "]]" | remove: ".yml" %}
    {% assign post_wd = site.data.wikidata[post_wk] %}
    {% if post_wd.series == current_series %}
      {% assign series_posts = series_posts | push: post %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if series_posts.size > 1 %}
<div class="series-list">
  <div class="series-list__heading">{{ current_series }}</div>
  <ul class="series-list__items">
    {% for post in series_posts reversed %}
    <li class="series-list__item{% if post.url == page.url %} series-list__item--current{% endif %}">
      {% if post.url == page.url %}
        <span>{{ post.title }}</span>
      {% else %}
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      {% endif %}
      {% if post.year %}<span class="series-list__year">{{ post.year }}</span>{% endif %}
      {% if post.stars %}
        {% assign sf = post.stars | floor %}
        {% assign se = 5 | minus: sf %}
        <span class="series-list__stars">{% for i in (1..sf) %}★{% endfor %}{% for i in (1..se) %}☆{% endfor %}</span>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
